
   
   <div class="navbar">
        <div class="heroimg" id="homeimg">
            <img class="heroimg"  src="/images/calipsebanner.png" alt="">
        </div>
    </div>
<script>
    // document.getElementById("homeimg").addEventListener("click",()=>{
    //     var add = window.location.href;
    //     console.log(add)
    //     console.log("1")
    //     // window.location = add[0];
    // })
</script>