<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/heading.ejs', {title: "Error" }) %>

</head>

<body class="body">
    <%- include('../partials/navbar.ejs'); %>
        <div class="widthdiv"></div>

        <div class="widthdiv"></div>
        <div class="widthdiv" style="height:10px ;"></div>
        
            <div class="heading">Something Wrong</div>
            <div class="widthdiv" style="height:20px ;"></div>
        


</body>


</html>